.ant-tree-switcher {
    order: 1;
    border-bottom: 1px solid;
    margin-left: -1px;
    padding: 4px 0 4px 0;
    width: 32px;
}
.ant-tree-switcher-noop {
    border: none;
}

.ant-tree-node-content-wrapper {
    padding: 4px 0 4px 4px !important;
    border-bottom: 1px solid;
}

.ant-tree-treenode {
    padding-bottom: 0 !important;
}

