.ant-tree-switcher {
    order: 1;
    border-left: 1px solid;
    padding: 4px 0 4px 0;
    width: 32px;
}
.ant-tree-switcher-noop {
    border: none;
}

.ant-tree-node-content-wrapper {
    padding: 4px 0 4px 4px !important;
}

.ant-tree-treenode {
    border: 1px solid;
    border-bottom: none;
    padding-bottom: 0 !important;
}

.ant-tree-treenode:last-of-type {
    border-bottom: 1px solid;
}
